.cards {
  padding: 4rem;
}

h1 {
  text-align: center;
}

@media screen and (min-width: 601px) {
  .card__header {
    width: 105px;
    left: 30px;
    top: 0px;

    font-family: Irish Grover;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    margin-left: 151px;
    margin-top: 76px;

    color: #F6F6F4;
  }
}

@media screen and (max-width: 600px) {
  .card__header {
    width: 105px;
    height: 29px;
    left: 22px;
    top: 0px;

    font-family: Irish Grover;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.005em;
    text-transform: uppercase;

    color: #F6F6F4;
  }
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}


.cards__item__img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 240px;
  height: 320px;
  margin: 0px 119px; 
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__info {
  padding-top: 16px;
  padding-left: 121px;
}

.cards__item__name {
  font-family: Kanit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  letter-spacing: 0.012em;

  color: #F6F6F4
}

.cards__item__text {
  font-family: Kanit;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 50px;

  color: #FFFFFF
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
