@media screen and (min-width: 601px) {
  .welcomeContainer {
    color: #F6F6F4;
    display: block;
    align-items: flex-start;
    max-width: 1260px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 38px;
  }

  .welcomeTitle {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }

  .welcomeBody {
    width: 987px;
    height: 65px;
    left: 215px;
    top: 827px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding-top: 36px;
  }

  .mintBtn {
    width: 460px;
    height: 105px;
    left: 119px;
    top: 31px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    background: #E631B3;
    border-radius: 20px;
    color: #FFFFFF;
  }

  .textTitleContainer {
    margin-bottom: 61px;
  }

  .socialTitle {
    font-family: Irish Grover;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

  }

  .joinSocial {
    font-family: Irish Grover;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin-right: 72px;
  }

  .socialBtnDiscord {
    margin-bottom: '32px';
    margin-top: '-45px';
  }

  .socialBtnTwitter {
    display: 'flex';
    justify-content: 'space-between';
    margin-bottom: '32px';
  }

  .socialBtnInstagram {
    display: 'flex';
    justify-content: 'flex-end';
  }

  .inviteBtn {
    width: 337px;
    height: 69px;
    left: 127px;
    top: 8px;

    background: linear-gradient(92.88deg, #FC48D4 22.38%, #F122C3 56.56%, #FF00C6 84.73%);
    box-shadow: 0px 5px 45px 8px rgba(64, 60, 60, 0.65);
    border-radius: 25px;
    padding: 8px 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: Kanit;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #F6F6F4;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    margin-bottom: 94px;
  }

  .welcomeRightSide {
    margin: 134px 0px 72px 0;
    margin-bottom: 72px;
    display: flex;
  }

  .socialContainer {
    display: inline
  }

  .mobileSocial {
    display: none;
  }

  .socialIcon {
    color: #fff;
    font-size: 36px;
  }
}

@media screen and (max-width: 600px) {
  .welcomeTitle {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 21px;
    margin-top: 24px;
  }

  .welcomeBody {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #F6F6F4; 
    margin-left: 21px;
    margin-top: 16px;
  }

  .socialContainer {
    display: none
  }

  .mobileSocial {
    margin-bottom: 101px;
  }

  .mobileSocialText {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #F6F6F4;
    display: flex;
    justify-content: center;
    margin-top: 101px;
  }

  .mobileBtnContainer {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .socialIcon {
    color: #fff;
    font-size: 36px;
  }
}